version: '3.7'

volumes:
  emby:
    external: true
    name: emby

services:
  emby:
    image: emby/embyserver
    container_name: emby
    restart: unless-stopped
    networks:
      - web
    volumes:
      - emby:/config
      - /media/wdhdd/Media/Movies:/mnt/movies
      - /media/wdhdd/Media/Shows:/mnt/shows
    devices:
      - /dev/dri/renderD128
    labels:
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.http.routers.emby.entrypoints=http"
      - "traefik.http.routers.emby.rule=Host(`emby.snackk-media.com`)"
      - "traefik.http.middlewares.emby-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.emby-https-redirect.redirectscheme.permanent=true"
      - "traefik.http.routers.emby.middlewares=emby-https-redirect"
      - "traefik.http.services.emby.loadbalancer.server.port=8096"

      - "traefik.http.routers.emby-secure.entrypoints=https"
      - "traefik.http.routers.emby-secure.rule=Host(`emby.snackk-media.com`)"
      - "traefik.http.routers.emby-secure.tls=true"
      - "traefik.http.routers.emby-secure.tls.certresolver=ssl-cert"
      - "traefik.http.routers.emby-secure.service=emby"
    environment:
      - "UID=1000"
      - "GID=1000"

networks:
  web:
    external: true
