version: '3.7'

volumes:
  portainer:

services:
  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    restart: unless-stopped
    networks:
      - web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro  # No change needed
      # linux
      - ./portainer:/data
      # macOs
      #- ~/colima-data/portainer:/data
    labels:
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.entrypoints=http"
      - "traefik.http.routers.portainer.rule=Host(`portainer.snackk-media.com`)"
      - "traefik.http.middlewares.portainer-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.portainer-https-redirect.redirectscheme.permanent=true"
      - "traefik.http.routers.portainer.middlewares=portainer-https-redirect"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"

      - "traefik.http.routers.portainer-secure.entrypoints=https"
      - "traefik.http.routers.portainer-secure.rule=Host(`portainer.snackk-media.com`)"
      - "traefik.http.routers.portainer-secure.tls=true"
      - "traefik.http.routers.portainer-secure.tls.certresolver=ssl-cert"
      - "traefik.http.routers.portainer-secure.service=portainer"

networks:
  web:
    external: true
