version: '3.7'

services:
  transmission:
    image: linuxserver/transmission
    container_name: transmission
    restart: unless-stopped
    networks:
      - web
    volumes:
      # linux
      - /media/data/Media/transmission_conf:/config
      - /media/data/Media/:/downloads
      # macOs
      #- /Volumes/Media/Media/transmission_conf:/config
      #- /Volumes/Media/Media/:/downloads
    labels:
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.http.routers.transmission.entrypoints=http"
      - "traefik.http.routers.transmission.rule=Host(`transmission.snackk-media.com`)"
      - "traefik.http.middlewares.transmission-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.transmission-https-redirect.redirectscheme.permanent=true"
      - "traefik.http.routers.transmission.middlewares=transmission-https-redirect"
      - "traefik.http.services.transmission.loadbalancer.server.port=9091"

      - "traefik.http.routers.transmission-secure.entrypoints=https"
      - "traefik.http.routers.transmission-secure.rule=Host(`transmission.snackk-media.com`)"
      - "traefik.http.routers.transmission-secure.tls=true"
      - "traefik.http.routers.transmission-secure.tls.certresolver=ssl-cert"
      - "traefik.http.routers.transmission-secure.service=transmission"
    environment:
      - "PUID=1000"
      - "PGID=1000"

networks:
  web:
    external: true

